<?xml version="1.0"?>
<model>
  <name>mechelangelo_arm</name>
  <version>1.0</version>
  <sdf version="1.7">arm.sdf</sdf>
  <author>
    <name>Andrew Coorey</name>
    <email>andrewcoorey13@gmail.com</email>
  </author>
  <description>
    Gazebo simulation model for MECHelangelo robot arm.
  </description>
</model>